$font-weights: (
  "Thin": 100,
  "Extralight": 200,
  "Light": 300,
  "Regular": 400,
  "Medium": 500,
  "Semibold": 600,
  "Bold": 700,
  "Heavy": 800,
);

@each $name, $weight in $font-weights {
  @font-face {
    font-family: Boxed;
    src: url("../assets/fonts/boxed/Boxed#{$name}.woff2") format("woff2");
    font-weight: #{$weight};
  }
}
