:where(:root) {
  color: #111;
  font-size: 14px;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  cursor: default;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
}

body {
  --van-base-font: Boxed;
}
